<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleDBconServlet</servlet-name>
    <servlet-class>DBconServlet.HandleDBconServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteDBconServlet</servlet-name>
    <servlet-class>DBconServlet.DeleteDBconServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchDBconServlet</servlet-name>
    <servlet-class>DBconServlet.SearchDBconServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>HandleDBconServlet</servlet-name>
        <url-pattern>/anything</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDBconServlet</servlet-name>
    <url-pattern>/everything</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchDBconServlet</servlet-name>
        <url-pattern>/nothing</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
